[submodule "Dependencies/Scarlet"]
	path = Dependencies/Scarlet
	url = https://github.com/tge-was-taken/Scarlet
[submodule "Dependencies/tga-decoder-cs"]
	path = Dependencies/tga-decoder-cs
	url = https://github.com/tge-was-taken/tga-decoder-cs
