<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AssimpNet" version="5.0.0-beta1" targetFramework="net48" />
  <package id="CSharpImageLibrary" version="4.2.0" targetFramework="net48" />
  <package id="Generic.Math" version="1.0.2" targetFramework="net471" />
  <package id="JonSkeet.MiscUtil" version="0.2.0" targetFramework="net471" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.2.2" targetFramework="net47" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net47" />
  <package id="System.Numerics.Vectors" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0-preview.7.21377.19" targetFramework="net48" />
  <package id="UsefulCSharpThings" version="1.7.3" targetFramework="net47" />
</packages>